<a href="https://colab.research.google.com/github/rghmf/Cursos-Azure/blob/main/5_estatistica_com_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import statsmodels.api

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
from scipy.misc import factorial

In [3]:
!pip install scipy==1.2 --upgrade

Requirement already satisfied: scipy==1.2 in /usr/local/lib/python3.7/dist-packages (1.2.0)
Requirement already satisfied: numpy>=1.8.2 in /usr/local/lib/python3.7/dist-packages (from scipy==1.2) (1.21.5)

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
import seaborn as sns

In [7]:
dados = pd.read_csv('dados.csv')

In [8]:
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

In [9]:
import statsmodels.api as sm

In [10]:
amostra = dados.query('Renda < 5000').sample(n = 20, random_state = 101)

In [12]:
amostra[['Idade', 'Renda', 'Anos de Estudo', 'Altura']].cov()

                      Idade          Renda  Anos de Estudo    Altura
Idade            134.410526   -4947.968421      -16.410526  0.016506
Renda          -4947.968421  764668.326316     2209.021053 -7.138236
Anos de Estudo   -16.410526    2209.021053       16.936842  0.111281
Altura             0.016506      -7.138236        0.111281  0.003354

In [14]:
amostra.Idade.var()

134.4105263157895

In [15]:
s_xy = dados[['Altura', 'Renda']].cov()

In [16]:
s_xy = s_xy.Altura.loc['Renda']

In [17]:
s_xy

-1.0789639314252715

In [18]:
s_x = dados.Altura.std()
s_y = dados.Renda.std()

In [19]:
r_xy = s_x / (s_x * s_y)

In [20]:
r_xy

0.0003008977829666536

In [21]:
dados[['Altura', 'Renda']].corr()

          Altura     Renda
Altura  1.000000 -0.004073
Renda  -0.004073  1.000000